.audio-player {

  .audio-controls {
    position: relative;
    padding: 12px 10px;
    height: 36px;
    line-height: 36px;
    background-color: aliceblue;
    border-radius: 10px;

    &>[class^=audio-controls] {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      vertical-align: middle;
      margin: 0 5px;

      &.active {
        background-color: #ccc;
      }

      &>svg {
        width: 26px;
        height: 26px;
        margin: 5px 0;

        &.inactive {
          opacity: 0.4;
        }
      }
    }

    .audio-controls__time {
      width: 100px;
      text-align: center;
    }

    .audio-controls__progress {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      position: relative;
      margin: 0 10px;

      .audio-controls__progress-outer {
        height: 2px;
        background-color: #cccccc;
        position: relative;
        margin-top: 17px;
      }

      .audio-controls__progress-inner {
        height: 2px;
        background-color: #000000;
        transition: width 0.5s;
      }

      .audio-controls__progress-point {
        height: 10px;
        background-color: #000000;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        margin-left: -4px;
        transition: left 0.5s;
        cursor: pointer;
      }
    }

    .audio-controls__volume {

      .audio-controls__volume-wrapper {
        display: inline-block;
        height: 36px;
        margin: 0 5px;
      }

      .audio-controls__volume-outer {
        margin-top: 18px;
        width: 100px;
        height: 2px;
        background: #ccc;
        position: relative;
      }

      .audio-controls__volume-inner {
        height: 2px;
        background-color: #000000;
        transition: width 0.5s;
      }

      .audio-controls__volume-point {
        height: 10px;
        background-color: #000000;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        margin-left: -4px;
        transition: left 0.5s;
        cursor: pointer;
      }
    }

    .audio-player__audio {
      display: none;
    }

  }
}